 .Films{
    display: flex;
    max-width: 1200px;
}
.about{
     padding-right: 7.5%; 
    padding-left: 7.5%; 
    margin-bottom: 40px;
    word-wrap: normal;
    font-style: italic;
    text-align: left; 
    overflow: scroll;
    overflow-x: hidden;
    width: 300px;
    height: 150px; 
    padding: 5px; 
    border: solid 1px black;
} 

body { 
    background-color: #000000;
    color: rgb(201, 198, 198);
}

h1, h2, h3, h4, h5 {
    font-family: 'Lobster', cursive;
    margin-left: 15%;
    margin-top:20px;
    margin-bottom:10px;
}

.price {
    color: blue;
}


.Films
{
    margin-left:15%;
    max-width: 1200px;
}

.Films h3 {
    margin-left:50%;
}

.Films h4, h5{
    margin-left:0%;
}

img { 
   cursor: pointer; 
}

.SiteName h1
{
    margin-left:0%;
}

.offer_table, .mytable{
    margin-left:15%;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3vh;
    background-color: rgb(50, 50, 50, 50);
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li {
    display: block;
    padding: 0 15px;
    color: #fff;
    font-size: 13px;
    font-family: sans-serif;
    text-transform: uppercase;
    transition:.5s;
}

.menu li a {
    text-decoration: none;
    color:#fff;
    transition: .5s;
    padding:5px; 
}

ul:hover li a {
    filter: blur(5px);
}

ul:hover li a:hover{
    font-size: 15px;
    filter:blur(0px);
    background-color: grey;
} 

footer {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 7.5%;
    padding-right: 7.5%;
    text-align: center;
    background: rgb(30,30,30);
}
#reg {
    margin-left:0%;
}


.Spisok {
     list-style-type:none; 
     padding: 10px 0px;
    margin-left: 50px;

}


a:visited {font-size:16px; color:DarkRed}
a:hover {font-size:16px; color: yellow}

.Spisok li:before{
    content:"#";
    padding-right: 6px;
    font-size: 16px;
    color: #00bf80;
    font-weight: bold;
}
